{% extends 'ind' %}

{% block scripts %}
<script src="/scripts/main.js"></script>
{% endblock %}

{% block content %}
<h2>TÁRGYFELVÉTEL</h2>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Tantárgyak</h3>
  </div>
  <div class="panel-body">

    
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Tárgy neve</th>
          <th>Tanár neve</th>
          <th></th>
          <th>Csoport</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for subject in subjects %}
          <form  class="form-horizontal" method="post">
          {{ csrfField }}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ subject.name }}</td>
              <td>{{ subject.teachersOf[0]['name'] }}</td>
              <td><a href="/subject/{{ subject.id }}" class="btn btn-info">Tárgy adatlap</a></td>
              <td>
                <select class="form-control" id="group_id" name="group_id">
                  {% for group in subject.groupsOf %}
                  <option value="{{ group.id }}"
                    {% if group.id == old('group_id') %}
                    selected
                    {% endif %}
                  >{{ group.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <button type="submit" class="btn btn-primary">Jelentkezés</button>
              </td>
            </tr>
          
          </form>
        {% endfor %}
      </tbody>
    </table>

    <div class="form-group">
      <div class="pull-right col-md-2">
          
      </div>
    </div>

    
  </div>
</div>


{% endblock %}
