{% extends 'ind' %}

{% block scripts %}
<script src="/scripts/main.js"></script>
{% endblock %}

{% block content %}
<h2 class="col-md-7 col-md-offset-2">Üdv, {{ currentUser.username }}!</h2>

<div class="col-md-7 col-md-offset-2">
<div class="panel panel-info">
  <div class="panel-heading">

{% if currentUser.email in emails %}
    <h3 class="panel-title">Tanított tantárgyak</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Tárgy neve</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set x = 1 %}
        {% for subject in subjects %}
          {% if currentUser.email == subject.teachersOf[0]['email'] %}
          <tr>
            <td>{{ x }}</td>
            <td>{{ subject.name }}</td>
            <td><a href="/subject/{{ subject.id }}" class="btn btn-info">Tárgy adatlap</a></td>
            {% set x = x + 1 %}
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table> 
  </div>
</div>
<hr>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">További tantárgyak</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Tárgy neve</th>
          <th>Tanár neve</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set x = 1 %}
        {% for subject in subjects %}
          {% if currentUser.email != subject.teachersOf[0]['email'] %}
          <tr>
            <td>{{ x }}</td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.teachersOf[0].name }}</td>
            <td><a href="/subject/{{ subject.id }}" class="btn btn-info">Tárgy adatlap</a></td>
            {% set x = x + 1 %}
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table> 
  </div>
</div>
</div>

{% else %}
    <h3 class="panel-title">Felvett tantárgyak</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Tantárgy neve</th>
          <th>Csoport</th>
          <th>Tanár neve</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set x = 1 %}
        {% for grs in group_students %}
        
        {% if currentUser.email == grs.studentsOf.email %}
          <tr>
            <td>{{ x }}</td>
            <td>{{grs.subjectsOf.name}}</td>
            <td>{{grs.groupsOf.name}}</td>
            <td>{{grs.teachersOf.name}}</td>
            <td><a href="/subject/{{ grs.subjectsOf.id }}" class="btn btn-info">Tárgy adatlap</a>
            <a href="/subject/{{grs.subjectsOf.id}}/dropSubject" class="btn btn-danger">Leadás</a></td>
          </tr>
          {% set x = x + 1 %}
        {%endif%}
        {% endfor %}
      </tbody>
    </table> 
  </div>
</div>

{% endif %}

{% endblock %}
