{% extends 'ind' %}

{% block scripts %}
<script src="/scripts/main.js"></script>
{% endblock %}

{% block content %}
<h2>Üdv, {{ currentUser.username }}!</h2>

{% if currentUser.email in emails %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Tanított tárgyak</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Tárgy neve</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set x = 1 %}
        {% for subject in subjects %}
          {% if currentUser.email == subject.teachersOf[0]['email'] %}
          <tr>
            <td>{{ x }}</td>
            <td>{{ subject.name }}</td>
            <td><a href="/subject/{{ subject.id }}">Tárgy adatlap</a></td>
            {% set x = x + 1 %}
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table> 
  </div>
</div>
{% else %}

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Felvett tantárgyak</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Tárgy neve</th>
          <th>Tanár neve</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% set x = 1 %}
        {% for subject in subjects %}
          {% if currentUser.email == subject.teachersOf[0]['email'] %}
          <tr>
            <td>{{ x }}</td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.teachersOf[0]['name'] }}</td>
            <td><a href="/subject/{{ subject.id }}">Tárgy adatlap</a></td>
            {% set x = x + 1 %}
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table> 
  </div>
</div>

{% endif %}

<!--<p>{{subjects|dump}}</p>-->
<!--<p>{{emails|dump}}</p>-->
{% endblock %}
